body {
  background: url(https://s1.ax1x.com/2020/10/25/Bel6ld.jpg) no-repeat center
    center;
  background-size: cover;
  background-attachment: fixed;
  background-color: #cccccc;
}
.comm-main .comm-left{
  background-color: rgba(255,255,255, 0.46);
  /* opacity: 80%; */
}
.comm-main .comm-right{
  background-color: rgba(255,255,255, 0.46); 
}
.ant-list-items>li{
  transition: all 1.2s;
}

.ant-list-items>li:hover{
  /* width: 1000px; */
  /* animation: opacity-to-hover 1.6s; */
  /* animation: animation 1000ms linear both; */
  background-color: rgba(255,255,255, 0.69);
  box-shadow: 15px 15px 30px rgba(100,100,100,0.69),-15px 15px 30px rgba(100,100,100,0.69);
  transform: translateY(-5px);

  
}

/* @keyframes opacity-to-hover{
  0% {
    background-color: rgba(255,255,255, 0.46);
    transform: rotate3d(5deg,5deg,5deg);
  }
  50%{
    transform: translateY(-2px);
    box-shadow: 15px 15px 30px rgba(208, 208, 208, 0.69),-15px 15px 30px rgba(208, 208, 208, 0.69);
  }
  100% {
    background-color: rgba(255,255,255, 0.69);
    transform: translateY(-5px);
    box-shadow: 15px 15px 30px rgba(100,100,100,0.69),-15px 15px 30px rgba(100,100,100,0.69);
  }
} */





.list-title {
  font-size: 1.5rem;
  color: #1e90ff;
  padding: 0 0.5rem;
  margin-bottom: 0.5rem;
}
.list-context {
  color: #777;
  padding: 0.5rem;
}
.list-icon {
  display: flex;
  padding: 0.5rem 0;
  color: #aaa;
}
.list-icon .list-icon-top {
  padding: 0 0 0 10px;
}
.list-icon .span {
  display: inline-block;
  padding: 0 20px 0 0;
}

pre {
  display: block;
  background-color: #283646 !important;
  padding: 0.5rem !important;
  overflow-y: auto;
  font-weight: 300;
  font-family: Menlo, monospace;
  border-radius: 0.3rem;
}

pre > code {
  border: 0px !important;
  background-color: #283646 !important;
  color: #fff;
}
code {
  display: inline-block;
  background-color: #f3f3f3;
  border: 1px solid #fdb9cc;
  border-radius: 3px;
  font-size: 12px;
  padding-left: 5px;
  padding-right: 5px;
  color: #4f4f4f;
  margin: 0px 3px;
}

.list-context img {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #f0f0f0;
  max-width: 1000px !important;
  display: block;
  margin: 8px auto;
}
